.jumbotron-jumbotron-fluid {
    background-color: burlywood;
    height: 85%;
    padding: 15px;
    margin: 20px;
    text-align: center;
    font-size: 40px;
    color: white;

}

button {
    color: white;
    background-color: blue;
}

.card-body {
    border: solid;
    border-color: blue;
    font-family: 'Times New Roman', Times, serif;
}

.form {
    font-display: initial;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: white;
    padding: 10px;
}

.card-header {
    border: solid;
    border-color: blue;
    background-color: blue;
    color: white;
    text-align: left;
    font-size: 20px;   
}

.cards-card-default {

    width: 206%;
    height: 50%;
    margin-top: 30px;
}

#add-user {
    background-color: blue;
    color: white;
    font-weight: bolder;
}